{% extends 'base.html.twig' %}
{% block main %}


    <article>
        <h2>{{ forum.title }}</h2>
        {% if forum.picture %}
            <img src="{{ forum.picture }}" alt="picture of the subject">
        {% endif %}
        <p>{{ forum.content }}</p>
    </article>
    {{ form(form) }}
    {% for subject in forum.subjects %}
    <article>
        <h3>{{ subject.title }}</h3>
        <p>{{ subject.content }}</p>
        <p>subject opened the {{ subject.date|date('M-d-y') }}</p>
    </article>
    {% endfor %}
{% endblock %}