<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

    <title>Video-Games Blog</title>
</head>
<body>
{% block header %}
<header>
    <ul>
        <li><a href="{{ path('home') }}"><img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CD_autolev_crop.jpg/200px-CD_autolev_crop.jpg" alt=""></a></li>
        <li><a href="{{ path('sign-in') }}">Sign-in</a></li>
        <li><a href="{{ path('log-in') }}">Log-in</a></li>
        <li><a href="{{ path('update-profile')}}">Update profile</a></li>
        <li><a href="{{ path('log-out') }}">Log-out</a></li>
        <li><a href="{{ path('news') }}">News</a></li>
        <li><a href="{{ path('games') }}">Games</a></li>
        <li><a href="{{ path('forums') }}">Forums</a></li>
        <li><form action="{{ path('find') }}" method="get">
                <input type="text" name="search" placeholder="">
                <input type="submit" value="Search">
            </form>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin-new-actu') }}">admin create actu</a></li>
            <li><a href="{{ path('admin-new-forum') }}">admin create forum</a></li>
        {% endif %}
    </ul>
    {% for message in app.flashes('success') %}
        <div>
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
</header>
{% endblock %}
{% block main %}
<main>

</main>
{% endblock %}
<footer>

</footer>
<script src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>