{% extends 'base.html.twig' %}

{% block main %}
    <h1>Welcome {% if app.user %} {{ app.user.pseudo }} <img style="width: 2vw" src="{{ asset('uploads/images/'~app.user.picture)}}" alt=""> {% endif %} on this place where we love video-games</h1>



    {% for new in news %}

        <article>
            <a href="{{ path('new',{'id':new.id}) }}">
                <h2>{{ new.title }}</h2>
                {% if new.picture %}
                    <img src="{{ asset('uploads/images/'~new.picture) }}" alt="picture of the subject">
                {% endif %}
            </a>
            <p>{{ new.content }}</p>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin-delete-actu',{'id':new.id}) }}">Delete actu</a></li>
            <li><a href="{{ path('admin-update-actu',{'id':new.id}) }}">Update actu</a></li>
        {% endif %}

    {% endfor %}
    {% for game in games.results %}
        <article>
            <a href="{{ path('game',{'id':game.id}) }}">
                <h2>{{ game.name }}</h2>
                <img style="width: 25vw" src="{{ game.background_image }}" alt="">
            </a>
            {% for tag in game.tags |slice(5,10) %}
                {% if tag.language is same as ('eng') %}
                    <p>{{ tag.name }}</p>
                {% endif %}
            {% endfor%}
            <p>released in {{ game.released |date('d-M-y') }}</p>
            {% if game.metacritic %}
                <p>Metacritic note {{ game.metacritic }}</p>
            {% endif %}
        </article>
    {% endfor %}


{% endblock %}

{#$games = $gameApi->getGames();#}
{#dd($gameApi->getGames());#}